* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: baseline;
}

a {
  transition: opacity 0.25s;
}
a:hover,
a:focus {
  opacity: 0.75;
}

html {
  font-size: 3vw;
}
/* html::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: yellow;
} */

@media (min-width: 31.875em) {
  html {
    font-size: 100%;
  }
  /* html::after { background-color: green; } */
}

@media (min-width: 48em) {
  html {
    font-size: 100%;
  }
  /* html::after { background-color: blue; } */
}
@media (min-width: 68.75em) {
  html {
    font-size: 110%;
  }
  /* html::after { background-color: purple; } */
}
@media (min-width: 68.75em) and (max-height: 39.5em ) {
  html {
    font-size: 2.75vh;
  }
  /* html::after { background-color: lightblue; } */
}
@media (min-width: 87.5em) {
  html {
    font-size: 120%;
  }
  /* html::after { background-color: red; } */
}
@media (min-width: 87.5em) and (max-height: 45em ) {
  html {
    font-size: 2.75vh;
  }
  /* html::after { background-color: lightgreen; } */
}


body {
  color: #000000;
  min-height: 100vh;
  background: url('../images/Background.jpg');
  background-size: cover;
}
body.Utility {
  background: #F4F4F2;
}
body::before {
  content: "";
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  width: 12rem;
  height: 9rem;
  background: url('../images/BackgroundCorner.png');
  background-size: 100% 100%;
}
@media (min-width: 31.875em) {
  body::before {
    width: 12rem;
    height: 9rem;
  }
}
@media (min-width: 61em) {
  body::before {
    width: 17rem;
    height: 13rem;
  }
}

.Socials {
  position: absolute;
  right: 1rem;
  top: 5.5rem;
  z-index: 2;
}

.SocialLink {
  display: block;
  width: 1.25rem;
  margin-bottom: 0.5rem;
}

.ComingSoon {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 8.5rem;
  width: 3rem;
  height: 17rem;
  background: url('../images/ComingSoonWithText.png');
  background-size: 100% 100%; 
  display: block;
  overflow: hidden; 
}
.ComingSoon span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

}

.Site {
  position: relative;
  z-index: 1; 
}
@media (min-width: 48em) {
  .Site {
    padding-top: calc((100vh - 50rem) / 2);
  }
}

.Page {
  max-width: 44rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  font-family: 'Bliss Pro';  
}
.Page > * + * {
  margin-top: 0.5em;
}
.Page a {
  color: #7653B6;
}
.Page h1 {
  margin-bottom: 1em;
}
.Page h2 {
  margin-top: 1.5em;
}
.Page ul {
  padding-left: 1em;
}
.Page li {
  line-height: 1.5;
}
.PageTitle {
  font-family: 'Nexa Rust Sans';
}


.SiteWrapper {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .SiteWrapper {
    max-width: 47.5rem;
  }
}
@media (min-width: 61.875rem) {
  .SiteWrapper {
    max-width: 24rem;
    transform: translateX(15%);
  }
}

.Aside {
  padding-top: 3rem;
  margin: 0 auto;
  max-width: 21rem;
}
@media (min-width: 48em) {
  .Aside {
    padding: 0;
    position: absolute;
    width: 21rem;
    top: 0;
    left: 0;
  }
} 
@media (min-width: 61.875rem) {
  .Aside {
    left: auto;
    right: 100%;
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .Footer {
    float: right;
    width: 32rem;
  }
}
@media (min-width: 61.875rem) {
  .Footer {
    width: 24rem;
  }
}

.Hero {  
  padding-top: 5rem;
}

@media (min-width: 48em) {
  .Hero {
    padding-top: 1rem;
    float: right;
    width: 32rem;
  }
}

@media (min-width: 61.875rem) {
  .Hero {
    width: 24rem;
  }
}

.HeroTitle {
  font-family: 'Nexa Rust Sans';
  font-size: 0.9375rem;
  text-align: center;
}

.HeroTitle span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.HeroImage {
  max-width: 21.5rem;
  margin: 0 auto;
}

.HeroLead {
  font-family: 'Nexa Rust Sans';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0;
  margin: -0.25rem;
  margin-bottom: 0.75rem;
}

.HeroBody {
  font-family: 'Bliss Pro';
  font-weight: bold;
  font-size: 0.71875rem;
  margin: 0 auto;
  max-width: 21rem;
  text-align: center;
}

.PageMain {
  position: relative;
  margin: 1.25rem auto 0;
  max-width: 16rem;
}

.Features {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.Feature {
  width: calc(25% - 0.75rem);
}

.FeatureImage { position: relative; }

.FeatureBody {
  font-family: 'Bliss Pro';
  font-size: .5625rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}

.FeaturesList { 
  position: absolute;
  top: 0.25rem;
  left: 100%;
  margin-left: 1.5rem;
  width: 6.5rem;
}

.FinePrint {
  margin-top: 1rem;
  font-family: 'Bliss Pro';
  font-size: 9px;
  letter-spacing: -0.05em;
}

.ContactLink { 
  position: relative;
  font-family: 'Nexa Rust Sans';
  font-size: 0.9375rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}
.ContactLink span {
  position: relative;
}
.ContactLink::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 38%;
  width: 9rem;
  height: 6rem;
  background: url('../images/ContactSplotch.png');
  background-size: cover;
  pointer-events: none;
}

.PrivacyLink {
  position: relative;
  text-align: center;
  display: block;
  font-family: 'Bliss Pro';
  font-size: .5625rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 1rem;
}