@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/BlissPro-Bold.woff2') format('woff2'),
        url('../fonts/BlissPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa Rust Sans';
    src: url('../fonts/NexaRustSans-Black.woff2') format('woff2'),
        url('../fonts/NexaRustSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/BlissPro-Light.woff2') format('woff2'),
        url('../fonts/BlissPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa Rust Sans 02';
    src: url('../fonts/NexaRustSans02-Regular2.woff2') format('woff2'),
        url('../fonts/NexaRustSans02-Regular2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/BlissPro.woff2') format('woff2'),
        url('../fonts/BlissPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaHeavy.woff2') format('woff2'),
        url('../fonts/NexaHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

